/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/

#me {
  width: 220px;
  border-radius: 80%;
}

.flex-item-stretch-6 {
  flex: 1 auto;
}

@media screen and (min-width: 900px) {
  .flex-item-stretch-6 {
    flex: 5.5;
  }
}