/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/

#me {
  width: 400px;
  /* border-radius: 90%; */
}

.flex-item-stretch-6 {
  flex: 1 auto;
}

@media screen and (min-width: 900px) {
  .flex-item-stretch-6 {
    flex: 5.5;
  }
}